.container {
    width: 350px;
    height: 430px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    width: 330px;
    border-bottom: 1px solid rgb(206, 202, 202);
    margin: 10px;
}

h2 {
    margin-left: 25px;
}

label {
    font-size: 17px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    margin-bottom: 10px;
    background-color: rgb(239, 232, 232);
    padding: 7px 10px;
}

.form-container {
    width: 300px;
    height: 330px;
    border: 1px solid rgb(222, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.label-input {

    width: 250px;
    display: flex;
    flex-direction: column;

}

/* .checkbox {} */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 5px;
    border: none;
    background-color: rgb(107, 253, 107);
    padding: 8px 40px;
}